body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Color */
  --color-ghostwhite: #f2f2f7;
  --color-black: #000;
  --color-gray: #212529;
  --color-white: #fff;

  /* Gap */
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-16: 16px;

  /* Padding */
  --padding-8: 8px;

  /* Font */
  --font-noto-serif: Noto Serif;

  /* FontSize */
  --font-size-16: 16px;

  /* Figma Variables */

  /* Color */
  --Colors-Blue: #007aff;
}
