.video-js {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  --vjs-background: rgba(20, 28, 49, .8); /* Color slate-900, 80% opacity */
  --vjs-background-hover: rgba(20, 28, 49, 1);
}

.vjs-play-control {
  margin-left: 1em;
}

.video-js .vjs-big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 2em;
  font-size: 3em;
  line-height: 1;
  transform: translate(-50%, -50%);
  border: 0;
  background-color: var(--vjs-background);
}
.video-js:hover .vjs-big-play-button {
  background-color: var(--vjs-background-hover);
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  margin-top: .3em !important;
  margin-left: .8em !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control.vjs-paused .vjs-icon-placeholder:before,
.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-low:before,
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
.vjs-icon-volume-mid:before,
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
.vjs-icon-pause:before,
.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content: '';
  height: 1.4em;
  margin-top: .5em;
  margin-left: .5em;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}


.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control.vjs-paused .vjs-icon-placeholder:before {
  background-image: url('vjs-play.svg');
}

.vjs-icon-pause:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
  background-image: url('vjs-pause.svg');
}
.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
  background-image: url('vjs-mute.svg');
}
.vjs-icon-volume-low:before,
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
  background-image: url('vjs-volume-min.svg');
}
.vjs-icon-volume-mid:before,
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
  background-image: url('vjs-volume-mid.svg');
}
.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
  background-image: url('vjs-volume-max.svg');
}
.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
  background-image: url('vjs-fullscreen-enter.svg');
}
.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  background-image: url('vjs-fullscreen-exit.svg');
}

.vjs-has-started .vjs-control-bar {
  height: 4.5em;
  background-color: var(--vjs-background);
  border-radius: 0 0 1em 1em;
}

.video-js .vjs-slider,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-play-progress,
.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  border-radius: 4px;
}

.video-js .vjs-picture-in-picture-control {
  display: none;
}

.video-js .vjs-time-control {
  font-size: 1.4em;
  line-height: 3.2em;
}

.vjs-volume-bar.vjs-slider-horizontal {
  margin-top: 2.1em;
}

.video-js .vjs-fullscreen-control {
  width: 4.3em;
}