@import "reset.css";
@import "a11y.css";


:root {
  --color-accent: #F2B516;
  --color-light: #F6F6F3;
  --color-dark: #212529;
  --color-gray-200: #D2D2D2;
  --color-blue-500: #007AFF;
  --color-purple-500: #6A00FF;

  --color-border: var(--color-gray-200);
  --color-link: var(--color-blue-500);
  --color-link-visited: var(--color-purple-500);

  --font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: "Noto Serif", Georgia, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  
  --focus-outline-width: 4px;
  --focus-outline-style: solid;
  --focus-outline-color: rgba(0, 122, 255, 0.5);
  --focus-outline-offset: 1px;

  --ratio: 1.4;

  --s-5: clamp(0.33rem,0.39rem + -0.29vw,0.18rem);
  --s-4: clamp(0.41rem,0.47rem + -0.31vw,0.25rem);
  --s-3: clamp(0.51rem,0.57rem + -0.31vw,0.35rem);
  --s-2: clamp(0.64rem,0.69rem + -0.27vw,0.5rem);
  --s-1: clamp(0.8rem,0.84rem + -0.18vw,0.71rem);
  --s0: clamp(1rem,1rem + 0vw,1rem);
  --s1: clamp(1.25rem,1.19rem + 0.32vw,1.41rem);
  --s2: clamp(1.56rem,1.39rem + 0.85vw,2rem);
  --s3: clamp(1.95rem,1.61rem + 1.7vw,2.83rem);
  --s4: clamp(2.44rem,1.83rem + 3.04vw,4rem);
  --s5: clamp(3.05rem,2.04rem + 5.07vw,5.65rem);

  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-sans-serif);
  background-color: var(--color-light);
  color: var(--color-dark);
}

*,:after,:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: inherit;
  border: 0 solid;
  
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
}

:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}

.vh {
  clip-path: inset(100%)!important;
  clip: rect(1px,1px,1px,1px)!important;
  height: 1px!important;
  overflow: hidden!important;
  position: absolute!important;
  white-space: nowrap!important;
  width: 1px!important;
}

body {
  padding: var(--s2);
}

main > * {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 55rem;
}

main > * + * {
  margin-block-start: 1em;
}

.heading {
  margin-block-start: var(--s4);
  margin-block-end: var(--s2);
}

.case-studies {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  margin-block-start: var(--s4);
  list-style: none;
}

.case-studies a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 23.75rem;
  min-height: 10rem;
  background-color: var(--color-gray-200);
  padding: var(--s1);
  text-decoration: none;
}

.case-studies a:hover {
  color: var(--color-light);
  background: linear-gradient(238deg, #970147 0%, #662B85 100%);
}

.cs-number {
  font-size: var(--s2);
  font-weight: 100;
  line-height: 1;
}

.cs-title {
  font-size: var(--s1);
  font-weight: 700;
  line-height: 1;
}