/* COLORS */
/* EFFECTS */
:root {
  --colorPrimary--1: HSL(11, 86%, 40%);
  --colorPrimary--2: HSL(11, 86%, 54%);
  --colorPrimary--3: HSL(11, 86%, 60%);
  --colorSupporting--1: HSL(257, 32%, 11%);
  --colorSupporting--2: HSL(314, 33%, 18%);
  --colorSupporting--3: HSL(227, 17%, 31%);
  --colorSupporting--4: HSL(256, 13%, 50%);
  --colorSupporting--5: HSL(195, 84%, 39%);
  --colorSupporting--6: HSL(195, 76%, 55%);
  --colorSupporting--7: HSL(257, 48%, 84%);
  --colorSupporting--8: HSL(255, 35%, 93%);
  --colorNeutrals--1: HSL(0, 0%, 95%);
  --colorNeutrals--2: HSL(0, 0%, 100%);
  --sizeHeaderHeight--desktop: 80px;
  --sizeContainerWidth--desktop: 1140px;
  --darkGradient: linear-gradient(254.96deg, HSL(257, 32%, 11%) 0%, HSL(314, 33%, 18%) 99.41%);
  --radius--1: 0.3rem;
  --radius--2: 0.6rem;
  --radius--3: 1rem;
  --boxShadow--1: 0 8px 4px rgba(0, 0, 0, 0.25);
  --boxShadow--2: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
  --separatorDefault: 2rem; }

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--colorSupporting--3);
  background-color: var(--colorNeutrals--2); }

body {
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  color: var(--colorSupporting--5); }

a:hover {
  color: var(--colorSupporting--6); }

a.arrowLink {
  text-decoration: none;
  font-weight: 600; }
  a.arrowLink::after {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1rem;
    margin-left: .8rem;
    background-image: url(/assets/base/icon-rightArrow-3bf7d5e4e0fdee85e2373030e790b19e27f84a505190f8579178c17abc5887ea.svg);
    background-position: center center;
    background-repeat: no-repeat; }

hr {
  height: 0;
  border: 0;
  color: inherit;
  border: .1rem solid; }

code {
  font-family: menlo, monospace;
  word-wrap: break-word;
  white-space: pre-wrap; }

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.4rem HSLA(195, 84%, 39%, 0.5); }

.content ul,
.content ol {
  padding-left: 2em; }

/* TYPOGRAPHY */
.display--1 {
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.1; }

.heading--2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.15; }

.heading--3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.15; }

.heading--4 {
  font-weight: 1.8rem;
  font-weight: 600;
  line-height: 1.1; }

.heading--2 + p,
.heading--2 + ul,
.heading--2 + ol,
.heading--2 + dl {
  margin-top: 2.4rem; }

/* Site header */
.siteHeader__helper,
.siteHeader__main {
  padding-left: 5rem;
  padding-right: 5rem; }

.siteHeader__helper {
  background-color: var(--colorSupporting--1);
  color: var(--colorNeutrals--2);
  text-align: right; }

.siteHeader__helper ul {
  min-height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none; }

.siteHeader__helper li {
  margin: 0 1.5rem; }

.siteHeader__helper a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--colorNeutrals--2); }

.siteHeader__helper a:hover {
  text-decoration: underline; }

.siteHeader__main {
  background-color: var(--colorNaturals--2);
  display: flex;
  justify-content: space-between; }

.siteHeader__main,
.siteHeader__navigation,
.siteHeader__navigation nav {
  min-height: 8rem; }

.siteHeader__branding {
  align-self: center; }
  .siteHeader__branding img {
    display: block; }

.siteHeader__buttons {
  align-self: center; }

.mainNav,
.subNav {
  padding: 0;
  display: flex;
  list-style: none; }

.subNav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  box-shadow: var(--boxShadow--2);
  border-top: 0.3rem solid var(--colorPrimary--2);
  transform: translateY(-3px); }

.mainNav__item {
  position: relative; }

.mainNav__item:hover .subNav {
  display: block;
  background-color: var(--colorNeutrals--2); }

.mainNav__link {
  color: var(--colorSupporting--1);
  text-decoration: none; }

.mainNav__link:hover {
  color: inherit;
  background-color: var(--colorNeutrals--1); }

.mainNav,
.mainNav__link {
  min-height: var(--sizeHeaderHeight--desktop); }

.mainNav__link {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.subNav__link {
  display: block;
  padding: 1rem 4.4rem 1rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--colorSupporting--1); }

.subNav__link:hover {
  background-color: var(--colorNeutrals--1);
  color: inherit; }

.siteFooter {
  padding: 8rem 0;
  color: var(--colorSupporting--4);
  background: url(/assets/base/bgTrianglesBR-7b571f573efc9a55c2634dc6e29a3d16e7f8763add168f7cecc35b33c11f6178.svg) right bottom no-repeat, var(--darkGradient); }
  .siteFooter hr {
    color: HSLA(256, 13%, 50%, 0.25); }

.siteFooter__ctaTitle {
  color: var(--colorSupporting--8);
  margin-bottom: 1rem; }

.siteFooter__clients {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  justify-content: space-between; }

.siteFooter__navigation {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between; }

.siteFooter__list {
  list-style: none; }

.siteFooter__listTitle {
  color: var(--colorSupporting--8);
  margin-top: 4rem;
  margin-bottom: 2rem; }

.siteFooter__item {
  margin-bottom: .5rem; }

.siteFooter__link {
  font-size: 1.4rem;
  color: var(--colorSupporting--8);
  text-decoration: none; }

.siteFooter__link:hover {
  color: var(--colorSupporting--7);
  text-decoration: underline; }

.hero {
  min-height: 440px;
  padding: 65px 0;
  background: url(/assets/base/bgTrianglesBR-7b571f573efc9a55c2634dc6e29a3d16e7f8763add168f7cecc35b33c11f6178.svg) right bottom no-repeat, var(--darkGradient);
  position: relative; }

.heroContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center; }

.heroContent__title {
  color: var(--colorNeutrals--2); }

.heroContent__body {
  color: var(--colorSupporting--4);
  font-size: 1.8rem;
  margin-top: 2rem; }

.heroContent__cta {
  margin-top: 2rem; }

.card {
  background-color: var(--colorNeutrals--2);
  box-shadow: var(--boxShadow--2);
  border-radius: var(--radius--3);
  position: relative; }

.card--normal {
  padding: 4.8rem; }

.card--wide {
  padding: 4.8rem 9.6rem; }

.card--hasNav {
  padding-bottom: 10.8rem; }

.card__image {
  margin-bottom: 2.4rem; }

.card__title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.card__body p + p {
  margin-top: 1rem; }

.card__nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 4.8;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  background-color: var(--colorSupporting--8);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit; }

.card--normal .card__nav a {
  margin-left: 4.8rem; }
.card--wide .card__nav a {
  margin-left: 9.6rem; }
.card__nav a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.featureBox {
  margin-top: 3rem;
  margin-bottom: 1rem; }

.featureBox__title {
  margin-bottom: 2rem; }

.featureBox__body {
  font-size: 1.8rem; }
  .featureBox__body p + * {
    margin-top: 2rem; }
  .featureBox__body ul {
    padding-left: 3.5rem;
    list-style: none; }
    .featureBox__body ul li {
      position: relative; }
      .featureBox__body ul li::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        left: -3.5rem;
        background: url(/assets/base/icon-check-72e5c07478c78d7d232715509d80923ef7751dcef5cdba289c46b0c5bebe9cdb.svg); }
    .featureBox__body ul li + li {
      margin-top: 1rem; }

.featureBox__nav {
  margin-top: 2rem; }

.featureMedia {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center; }

/* ---------------------- */
.container {
  max-width: var(--sizeContainerWidth--desktop);
  margin-left: auto;
  margin-right: auto; }

.buttonGroup .button:not(:first-child) {
  margin-left: 2rem; }

.button {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .02em;
  text-decoration: none;
  border: .1rem solid transparent;
  border-radius: var(--radius--1);
  padding: 1.5rem 3rem;
  background-color: transparent;
  display: inline-block; }

.button--small {
  font-size: 1.6rem;
  padding: .8rem 1.5rem; }

.button--primary {
  background-color: var(--colorPrimary--2);
  border-color: var(--colorPrimary--2);
  color: var(--colorNeutrals--2); }

.button--primary:hover {
  background-color: var(--colorPrimary--3);
  border-color: var(--colorPrimary--3); }

.button--primaryGhost {
  border-color: var(--colorPrimary--2);
  color: var(--colorPrimary--2); }

.button--primaryGhost:hover {
  background-color: var(--colorPrimary--2);
  color: var(--colorNeutrals--2); }

.button--bright {
  background-color: var(--colorNeutrals--2);
  border-color: var(--colorNeutrals--2);
  color: var(--colorPrimary--2); }

.button--brightGhost {
  border-color: var(--colorNeutrals--2);
  color: var(--colorNeutrals--2); }

.button--brightGhost:hover {
  background-color: var(--colorNeutrals--2);
  color: var(--colorSupporting--1); }

.button--darkGhost {
  border-color: var(--colorSupporting--1);
  color: var(--colorSupporting--1); }

.button--darkGhost:hover {
  background-color: var(--colorSupporting--1);
  color: var(--colorNeutrals--2); }

.img {
  max-width: 100%; }

/* Site hero */
.announcementBox {
  background-color: var(--colorPrimary--2); }

.announcementMessage {
  max-width: var(--sizeContainerWidth--desktop);
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0;
  font-size: 1.4rem;
  color: var(--colorNeutrals--2);
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/* Components */
.band {
  padding: 10rem 0; }

.band--small {
  padding: 7rem 0; }

.iconCircle {
  display: inline-block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: var(--colorSupporting--8);
  text-align: center;
  line-height: 6.4rem; }

.ctaGlobal--small {
  background: url(/assets/base/bgTrianglesBR--small-9c9b93ff2d84f733503ce9219e3c8dafac00b8dc935bf2e9d0d8c4c9fea93804.svg) right bottom no-repeat, var(--darkGradient);
  background-size: contain;
  color: var(--colorNeutrals--2); }

.ctaGlobal--small {
  padding: 5rem 0; }

.ctaGlobal--small .ctaGlobal__copy {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--colorSupporting--8); }

/* Utilities */
.u-textCenter {
  text-align: center; }

.u-textRight {
  text-align: right; }

.u-textUppercase {
  text-transform: uppercase; }

.u-backgroundGray--1 {
  background: var(--colorNeutrals--1); }

.u-backgroundGray--2 {
  background: url(/assets/base/bgTrianglesTR--gray-97c4a79b2fcb89699e752c72b7f73772feb76d974e1dee22ab55d349cb6766bf.svg) right top no-repeat, var(--colorNeutrals--1); }

.u-grid {
  display: grid; }

ul.u-grid {
  list-style: none; }

.u-gridGap--1 {
  gap: 3rem; }

.u-gridGap--2 {
  gap: 6rem; }

.u-gridGap--3 {
  gap: 9rem; }

.u-gridAlign--center > div {
  align-self: center; }

.u-grid--twoCols {
  grid-template-columns: 1fr 1fr; }

.u-grid--twoColsLrrl {
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column; }
  .u-grid--twoColsLrrl > div:nth-child(4n+4) {
    grid-column: 1; }
  .u-grid--twoColsLrrl > div:nth-child(4n+3) {
    grid-column: 2; }
  .u-grid--twoColsLrrl > div:nth-child(4n+2) {
    grid-column: 2; }
  .u-grid--twoColsLrrl > div:nth-child(4n+1) {
    grid-column: 1; }

.u-grid--twoColsRllr {
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column; }
  .u-grid--twoColsRllr > div:nth-child(4n+4) {
    grid-column: 2; }
  .u-grid--twoColsRllr > div:nth-child(4n+3) {
    grid-column: 1; }
  .u-grid--twoColsRllr > div:nth-child(4n+2) {
    grid-column: 1; }
  .u-grid--twoColsRllr > div:nth-child(4n+1) {
    grid-column: 2; }

.u-grid--threeCols {
  grid-template-columns: 1fr 1fr 1fr; }

.u-narrowContent {
  margin-left: auto;
  margin-right: auto; }

.u-separateTop {
  margin-top: var(--separatorDefault); }

/* Pages ********************************
   ************************************** */
.p-homepage__tagDemo {
  font-size: 1.4rem;
  text-align: left;
  color: var(--colorNeutrals--2);
  background: var(--colorSupporting--1) url(/assets/base/tagDemoImage-3672a402fb76f95fc8aaab52318a08c77d241d4149b3a8164f1d17ba374837b5.jpg) top left no-repeat;
  background-size: cover;
  border-radius: 1rem;
  padding: 3.5rem 5rem;
  align-content: end;
  position: relative; }
  .p-homepage__tagDemo > * {
    position: relative;
    z-index: 2; }

.p-homepage__tagDemo::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: HSLA(257, 32%, 11%, 0.65);
  z-index: 1;
  border-radius: 1rem; }

.u-homepage__featureCards--1 {
  margin-bottom: 32rem; }
  .u-homepage__featureCards--1 .container {
    margin-bottom: -32rem; }

.u-homepage__featureCards--2 {
  margin-bottom: 22rem; }
  .u-homepage__featureCards--2 .container {
    margin-bottom: -22rem; }

.pseudoPritify {
  font-size: 1.4rem; }
  .pseudoPritify .purple {
    color: #9C81D3; }
  .pseudoPritify .green {
    color: #81B779; }

/* ----- */
.sdkTabs {
  background: var(--colorSupporting--3);
  color: var(--colorSupporting--7);
  padding: 3rem 4rem 4rem;
  border-radius: 1rem;
  text-align: left; }

.sdkTabs__nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 3rem; }

.sdkTabs__item {
  width: 4.8rem;
  height: 4.8rem; }

.sdkTabs__link {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  height: 100%;
  border-radius: 50%; }

.sdkTabs__link--js {
  background: url(/assets/base/icon-sdk-js-6c3cb545a760fedca2dbc3202cfe048011742860a72853a7c3bd242bd56bef4e.svg) top left no-repeat; }

.sdkTabs__link--ruby {
  background: url(/assets/base/icon-sdk-ruby-c963325bfa3b821df56516c540a435f64e6e943aafce8eacaf22a8878ffc7248.svg) top left no-repeat; }

.sdkTabs__link--php {
  background: url(/assets/base/icon-sdk-php-461f08f2fe27b88554c1d636c40891f45e7d339eab906d5a1a8ae47aadac739f.svg) top left no-repeat; }

.sdkTabs__link--python {
  background: url(/assets/base/icon-sdk-python-d845dd8aab5b710c7e9cc07e5ad00956d563dd343403a5cbe1f5d08e89f894f9.svg) top left no-repeat; }

.sdkTabs__link:hover,
.sdkTabs__link.-active {
  background-position: bottom left; }

.sdkTabs__code {
  display: none; }
  .sdkTabs__code.-active {
    display: block; }

.deliveryTabs__device {
  display: none;
  max-height: 40rem; }
  .deliveryTabs__device > img {
    height: 40rem;
    width: auto; }
  .deliveryTabs__device.-active {
    display: block; }

.deliveryTabs__nav {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 3rem; }

.deliveryTabs__item {
  width: 5.6rem;
  height: 5.6rem;
  margin: 0 .5rem; }

.deliveryTabs__link {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--colorSupporting--8); }

.deliveryTabs__link--desktop {
  background: url(/assets/base/icon-iMac-24710d48f09430f7dc4fe803517f0987530aa6d7253b40730df06fd5c491c166.svg) center center no-repeat; }

.deliveryTabs__link--laptop {
  background: url(/assets/base/icon-macBook-0379f962c3e674755ae3ec191309f1935876e4952a8d8f25ec4d88df1f009879.svg) center center no-repeat; }

.deliveryTabs__link--tablet {
  background: url(/assets/base/icon-tablet-5b7220a57a37af92f9f6d71ddc9a3d5fd51b8ed22f3406ff03d0fbd8cbc77ebd.svg) center center no-repeat; }

.deliveryTabs__link--mobile {
  background: url(/assets/base/icon-iPhone-d1cc439d068dcff8ee622c73fc96b3465f4915a443ea21985a1df2ee73c92782.svg) center center no-repeat; }

.deliveryTabs__link--watch {
  background: url(/assets/base/icon-iWatch-dbe98ee1268f1b00e78bcaa566773c6f13c422ca7c7d06c3bc494579aa90cf1e.svg) center center no-repeat; }

.deliveryTabs__link:hover,
.deliveryTabs__link.-active {
  background-color: var(--colorSupporting--8); }

/* FS HIGHLIGHT ------------- */
.urlTransformationShowcase {
  padding: 8rem 0;
  background: url(/assets/base/bgTrianglesBR-7b571f573efc9a55c2634dc6e29a3d16e7f8763add168f7cecc35b33c11f6178.svg) right bottom no-repeat, var(--darkGradient); }

/* TEXT HIGHLIGHT ANIMATION */
.fs-highlight {
  position: relative;
  display: inline-block; }

.fs-highlight:nth-child(4) {
  z-index: 2; }

.fs-highlight:nth-child(3) {
  z-index: 3; }

.fs-highlight:nth-child(2) {
  z-index: 4; }

.fs-highlight:nth-child(2) span.marker::before {
  height: 85px;
  width: 2px;
  background-color: white;
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  left: 0;
  transform-origin: 0 50%;
  transition: height 1s ease-in-out; }

.fs-highlight span.marker {
  position: absolute;
  height: 70px;
  left: 0;
  top: 0;
  display: block;
  content: '';
  transform: skew(-17deg);
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -ms-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-transform-origin: 11% 0% 0%;
  -moz-transform-origin: 11% 0% 0%;
  -ms-transform-origin: 11% 0% 0%;
  -o-transform-origin: 11% 0% 0%;
  transform-origin: 11% 0% 0%; }

.fs-highlight:nth-child(3) span.marker::after {
  visibility: hidden;
  transition: all 0.1s ease-in-out 3.5s; }

.fs-highlight:nth-child(4) span.marker::after {
  visibility: hidden;
  transition: all 0.1s ease-in-out 5s; }

.fs-highlight-api span.marker {
  background-color: #ffd238; }

.fs-highlight-transform span.marker {
  background-color: #00a2ff; }

.fs-highlight-file span.marker {
  background-color: #c820ff; }

.fs-highlight-api .fs-highlight-tooltip {
  color: #ffd238; }

.fs-highlight-transform .fs-highlight-tooltip {
  color: #00a2ff; }

.fs-highlight-file .fs-highlight-tooltip {
  color: #c820ff; }

.fs-highlight-api .fs-highlight-tooltip::before {
  border-bottom-color: #ffd238; }

.fs-highlight-transform .fs-highlight-tooltip::before {
  border-bottom-color: #00a2ff; }

.fs-highlight-file .fs-highlight-tooltip::before {
  border-bottom-color: #c820ff; }

.fs-highlight-tooltip::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 6px;
  margin-left: -6px; }

.fs-highlight-tooltip {
  position: absolute;
  left: 50%;
  bottom: -40px;
  padding-top: 10px;
  white-space: nowrap;
  opacity: 0;
  transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

.fs-highlight.animation-start .fs-highlight-tooltip {
  opacity: 1;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.fs-highlight span.marker::after {
  height: 85px;
  width: 2px;
  background-color: white;
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  transform-origin: 0 50%;
  transition: height 1s ease-in-out; }

.fs-highlight span.marker::after {
  right: -1px; }

.fs-highlight-animation {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 70px;
  font-family: 'Montserrat', sans-serif; }

.fs-highlight-animation mark {
  display: inline-block;
  color: white; }

mark.fs-text {
  position: relative;
  color: white;
  display: block;
  z-index: 2;
  padding: 0;
  background: transparent; }

mark.fs-text:after {
  content: '\00a0';
  display: inline-block; }

mark.fs-text:before {
  content: '\00a0';
  display: inline-block; }

.fs-highlight.fs-hidden span.marker {
  width: 0; }

.fs-highlight:nth-child(2).fs-hidden span.marker::before,
.fs-highlight:nth-child(2).fs-hidden span.marker::after {
  height: 0px; }

.fs-highlight:nth-child(2).animation-start span.marker::before,
.fs-highlight:nth-child(2).animation-start span.marker::after {
  height: 85px; }

.fs-highlight:nth-child(3).animation-start span.marker::after,
.fs-highlight:nth-child(4).animation-start span.marker::after {
  visibility: visible; }

.fs-highlight.animation-start span.marker {
  animation: fs-highlight 2.5s 1 forwards;
  -webkit-animation: fs-highlight 2.5s 1 forwards; }

.fs-highlight.fs-highlight-api mark.fs-text {
  transition: color 1s ease-in-out 1s; }

.fs-highlight.fs-highlight-transform mark.fs-text {
  transition: color 1s ease-in-out 2.5s; }

.fs-highlight.fs-highlight-file mark.fs-text {
  transition: color 1s ease-in-out 4.5s; }

.fs-highlight.fs-highlight-api .fs-highlight-tooltip {
  transition: all 1s ease-in-out 1.5s; }

.fs-highlight.fs-highlight-transform .fs-highlight-tooltip {
  transition: all 1s ease-in-out 3s; }

.fs-highlight.fs-highlight-file .fs-highlight-tooltip {
  transition: all 1s ease-in-out 5s; }

.fs-highlight.fs-highlight-api span.marker {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.fs-highlight.fs-highlight-transform span.marker {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s; }

.fs-highlight.fs-highlight-file span.marker {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s; }

.fs-highlight.animation-start mark.fs-text {
  color: black; }

.fs-highlight-tooltip {
  position: absolute; }

@keyframes fs-highlight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
