/* Primitives */
:root {
  --spacing-_5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-2_5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;

  --rounded-30: 30px;
  --rounded-full: 9999px;

  --grey-50: #F7F7F7;
  --grey-100: #E5E5E5;
  --grey-200: #DFDFDF;
  --grey-300: #C8C8C8;
  --grey-400: #B2B2B2;
  --grey-500: #999999;
  --grey-600: #888888;
  --grey-700: #7B7B7B;
  --grey-800: #676767;
  --grey-900: #545454;
  --grey-950: #363636;
  
  --base-black: #212529;
  --base-white: #FFFFFF;

  --font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: "Noto Serif", Georgia, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}


/* Tokens */
:root {
  --surface-base: var(--base-white);
  --surface-primary: var(--grey-100);
  --surface-tertiary: var(--grey-50);
  --surface-inverted: var(--base-black);

  --border-primary: var(--grey-300);

  --text-primary: var(--base-black);
  --text-secondary: var(--grey-800);
  --text-inverted: var(--base-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-base: var(--base-black);
    --surface-primary: var(--grey-900);
    --surface-tertiary: var(--grey-950);
    --surface-inverted: var(--base-white);

    --border-primary: var(--grey-700);

    --text-primary: var(--base-white);
    --text-secondary: var(--grey-800);
    --text-inverted: var(--base-black);
  }
}